/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/obj/Debug/net6.0/apphost.exe
/bin/Debug/net6.0/appsettings.json
/bin/Debug/net6.0/Elasticsearch.Net.dll
/obj/Debug/net6.0/logging.AssemblyInfo.cs
/obj/Debug/net6.0/logging.AssemblyInfoInputs.cache
/obj/Debug/net6.0/logging.assets.cache
/obj/Debug/net6.0/logging.csproj.AssemblyReference.cache
/obj/Debug/net6.0/logging.csproj.CopyComplete
/obj/Debug/net6.0/logging.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/logging.csproj.FileListAbsolute.txt
/obj/logging.csproj.nuget.dgspec.json
/obj/logging.csproj.nuget.g.props
/obj/logging.csproj.nuget.g.targets
/bin/Debug/net6.0/logging.deps.json
/bin/Debug/net6.0/logging.dll
/obj/Debug/net6.0/ref/logging.dll
/obj/Debug/net6.0/refint/logging.dll
/obj/Debug/net6.0/logging.dll
/bin/Debug/net6.0/logging.exe
/obj/Debug/net6.0/logging.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/logging.genruntimeconfig.cache
/obj/Debug/net6.0/logging.GlobalUsings.g.cs
/bin/Debug/net6.0/logging.pdb
/obj/Debug/net6.0/logging.pdb
/bin/Debug/net6.0/logging.runtimeconfig.json
/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
/bin/Debug/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Json.dll
/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
/bin/Debug/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
/bin/Debug/net6.0/System.Text.Encodings.Web.dll
/bin/Debug/net6.0/System.Text.Json.dll
